.preloader {
  align-items: center;
  display: flex;
  height: 100vh;
  background-color: #141414;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  transition: opacity 0.2s linear;
  width: 100%;
  opacity: 1;
  z-index: 100;
  transform: opacity 1s linear;
  user-select: none;
  overflow: hidden;
}